{% extends 'base.html' %}

{% block content %}
    <h1>{{ recipe.title }}</h1>

    <div class="card mb-5" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ recipe.photo.url }}" class="card-img-top" alt="..." width="400px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="Описание">Описание</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                    <h5 class="Описание">Ингредиенты</h5>
                    <p class="card-text" style="white-space: pre-wrap;">{{ recipe.ingredients }}</p>
                    <h5 class="Описание">Приготовление</h5>
                    <p class="card-text" style="white-space: pre-wrap;">{{ recipe.steps }}</p>
                    <p class="card-text">Время на приготовление: <span
                            class="fw-bold">{{ recipe.time_cook }} </span>мин.
                    </p>
                    <p class="card-text "><small><strong>Категории</strong>:
                        {% for category in recipe.categories.all %}
                            {{ category }},
                        {% endfor %}
                    </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}